services:
  rabbitmq:
    image: rabbitmq:4.1.4-management
    container_name: rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=tecvinson
      - RABBITMQ_DEFAULT_PASS=linguafrika
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - backend_network

  redis:
    image: redis:7.4.4-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - backend_network

  user-service:
    container_name: user-service
    build:
      context: ./user_service
    ports:
      - "8001:8000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://user-service:8000/health"]
      interval: 10s
      timeout: 3s
      retries: 25
    env_file:
      - ./user_service/.env
    environment:
      - PYTHONPATH=/app
      - DJANGO_SETTINGS_MODULE=user_service_config.django.dev
    depends_on:
      - rabbitmq
      - redis
    volumes:
      - ./shared:/app/shared:ro
    networks:
      - backend_network

  content-service:
    container_name: content-service
    build:
      context: ./content_service
    ports:
      - "8002:8000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://content-service:8000/health"]
      interval: 10s
      timeout: 3s
      retries: 25
    env_file:
      - ./content_service/.env
    environment:
      - PYTHONPATH=/app
      - DJANGO_SETTINGS_MODULE=content_service_config.django.dev
    depends_on:
      - rabbitmq
      - redis
    volumes:
      - ./shared:/app/shared:ro
    networks:
      - backend_network

  celery-worker:
    container_name: celery-worker
    build:
      context: ./celery_worker
    command: worker
    environment:
      - PYTHONPATH=/app
    depends_on:
      user-service:
        condition: service_healthy
      content-service:
        condition: service_healthy
    volumes:
      - ./shared:/app/shared:ro
      - ./user_service:/app/user_service:ro
      - ./content_service:/app/content_service:ro
    networks:
      - backend_network

  celery-beat:
    container_name: beat
    build:
      context: ./celery_worker
    command: beat
    environment:
      - PYTHONPATH=/app
    depends_on:
      user-service:
        condition: service_healthy
      content-service:
        condition: service_healthy
    volumes:
      - ./shared:/app/shared:ro
      - ./user_service:/app/user_service:ro
      - ./content_service:/app/content_service:ro
    networks:
      - backend_network

  flower:
    container_name: flower
    build:
      context: ./celery_worker
    command: flower
    ports:
      - "5555:5555"
    environment:
      - PYTHONPATH=/app
    depends_on:
      user-service:
        condition: service_healthy
      content-service:
        condition: service_healthy
    volumes:
      - ./shared:/app/shared:ro
      - ./user_service:/app/user_service:ro
      - ./content_service:/app/content_service:ro
    networks:
      - backend_network

volumes:
  rabbitmq_data:
  redis_data:
  postgres_data:

networks:
  backend_network:
    driver: bridge
